.view {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   background-color: black;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      font-size: large;
    }

    .caption {
      font-size: small;
    }
  }

  .container {
    // height: 75vh;
    width: 100vw;
    max-width: 1024px;
    margin: 0 0 0 0;
    // position: relative;
    // background-size: 500%;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: visible;

    * {
      margin: 1rem;
    }

    .bookContainer {
      height: 80%;
      max-width: 300px;
      // flex: 1;
      //   background-color: aqua;
      //   margin-inline: 50px;
      display: flex;
      // position: absolute;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid lightgray;
      border-radius: 10px;

      .image {
        max-height: 30%;
        max-width: 90%;
        object-fit: contain;
        display: flex;
        justify-content: center;
        transition: transform 0.25s ease;

        :hover {
          transform: scale(110%, 110%);
        }
      }

      .title {
        width: 90%;
        height: 20%;
        text-align: center;
      }

      .description {
        width: 90%;
        height: 35%;
        text-align: justify;
      }

      .buttons {
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;

        .updateButton {
          padding: 10px;
          background-color: white;
          color: darkblue;
          border: 1px solid darkblue;
          border-radius: 3px;
          cursor: pointer;
          //   box-shadow: 1px 1px 5px 1px darkblue;

          &:hover {
            background-color: darkblue;
            color: white;
            // font-weight: 600;
          }
        }

        .deleteButton {
          padding: 10px;
          background-color: white;
          color: firebrick;
          border: 1px solid firebrick;
          border-radius: 3px;
          cursor: pointer;
          //   box-shadow: 1px 1px 5px 1px firebrick;
          &:hover {
            background-color: firebrick;
            color: white;
            // font-weight: 600;
          }
        }
      }
    }
  }
}

.update {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   background-color: black;

  .container {
    height: 75vh;
    width: 80vw;
    max-width: 400px;
    // background-color: red;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    // background-color: lavender;

    .title {
      font-size: 30px;
      font-weight: 600;
      height: 25%;
      display: flex;
      align-items: center;
    }

    form {
      height: 75%;
      display: flex;
      align-items: center;
      //   justify-content: center;
      flex-direction: column;
      gap: 30px;

      .booktitle {
        width: 150%;
        padding: 10px;
        background-color: inherit;
        border: 1px solid purple;
        border-radius: 5px;
        text-overflow: ellipsis;
      }
      .desc {
        width: 150%;
        height: 30%;
        padding: 10px;
        background-color: inherit;
        border: 1px solid purple;
        border-radius: 5px;
      }
      .cover {
        width: 150%;
        padding: 10px;
        background-color: inherit;
        border: 1px solid purple;
        border-radius: 5px;
      }

      .updateButton {
        padding: 10px;
        background-color: plum;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        //   box-shadow: 1px 1px 5px 1px darkblue;

        &:hover {
          background-color: white;
          color: plum;
          border: 1px solid plum;
          // font-weight: 600;
        }
      }
    }
  }
}

.add {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   background-color: black;

  .container {
    height: 75vh;
    width: 80vw;
    max-width: 400px;
    // background-color: red;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    // background-color: lightgreen;
    border: 1px solid lightgray;
    border-radius: 10px;

    .title {
      font-size: 30px;
      font-weight: 600;
      height: 25%;
      display: flex;
      align-items: center;
    }

    form {
      height: 75%;
      display: flex;
      align-items: center;
      //   justify-content: center;
      flex-direction: column;
      gap: 30px;

      .booktitle {
        width: 150%;
        padding: 10px;
        background-color: inherit;
        border: 1px solid purple;
        border-radius: 5px;
        text-overflow: ellipsis;
      }
      .desc {
        width: 150%;
        height: 30%;
        padding: 10px;
        background-color: inherit;
        border: 1px solid purple;
        border-radius: 5px;
      }
      .cover {
        width: 150%;
        padding: 10px;
        background-color: inherit;
        border: 1px solid purple;
        border-radius: 5px;
      }

      .addButton {
        padding: 10px;
        background-color: greenyellow;
        color: black;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        //   box-shadow: 1px 1px 5px 1px darkblue;

        &:hover {
          background-color: white;
          border: 1px solid greenyellow;
          // font-weight: 600;
        }
      }
    }
  }
}

#addButton {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid greenyellow;
  border-radius: 3px;
  cursor: pointer;
  //   box-shadow: 1px 1px 5px 1px darkblue;

  &:hover {
    background-color: greenyellow;
    color: black;
    // font-weight: 600;
  }
}
